:root {
  --gray-functional: #5c6166;
  --color-purpure: #6446f7;
  --color-pink: #fc064c;
  --fontsize-name: 40px;
  --fontsize-title: 28px;
  --fontsize-icons: 20px;
  --fontsize-contain-profile: 18px;
  --fontsize-contain-body: 18px;
}

* {
  font-family: "pfbeausans", sans-serif;
  list-style: none;
  text-decoration: none;
}

@page {
  size: auto;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

body {
  margin: 0;
  margin-left: 60px;
  color: var(--gray-functional);
}

.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 38px;
  background: var(--color-purpure);
  z-index: 10;
}

.name {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 10px 0px;
  font-size: var(--fontsize-name);
}

.left-pink {
  background-color: var(--color-pink);
  height: 100%;
  width: 10px;
  margin-right: 20px;
}

.cv-user {
  color: var(--color-purpure);
  font-size: var(--fontsize-name);
}

.cv-job-sought {
  text-transform: uppercase;
  color: var(--color-pink);
}

.cv-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cdn.cvdesignr.com/users/628777aa6324f/6b7b29c9b70e05205572c628e5b0f9452e644e97.png);
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.header-container {
  display: flex;
}

.header-content {
  padding: 10px
}

.icons {
  color: var(--color-pink);
  margin-right: 5px;
  font-size: var(--fontsize-icons);
}

.information-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
}

.information-container__datos {
  display: flex;
  padding: 5px 5px 5px 0px;
}

.divInternalPrint__title {
  text-transform: uppercase;
  color: var(--color-purpure);
  font-size: var(--fontsize-title);
  border-bottom: 1px solid var(--color-purpure);
  margin-right: 20px;
}

.divInternalPrint__profile-contain {
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: var(--fontsize-contain-profile);
  text-align: justify;
}

.divInternalPrint__diplomas-contain {
  padding: 10px;
  font-size: var(--fontsize-contain-body);
}

.profession {
  color: var(--color-purpure);
}

.university {
  color: var(--color-pink);
}

.business {
  color: var(--color-pink);
}

.divInternalPrint__experiences-contain {
  display: flex;
  text-align: justify;
  font-size: var(--fontsize-contain-body);
}

.description {
  margin-right: 10px;
  font-size: var(--fontsize-contain);
}

.datejob {
  padding: 10px;
  margin-right: 10px;
  width: 30vw;
}

.containerbusiness {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
}

.namebusiness {
  font-weight: bold;
}

.technologies {
  font-weight: bold;
  font-style: italic;
}

.divInternalPrint__skills-contain {
  font-size: var(--fontsize-contain-body);
}

.divInternalPrint__lenguages-contain,
.divInternalPrint__trainings-contain {
  font-size: var(--fontsize-contain-body);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  padding-left: 60px;
  border-top: 1px solid var(--color-purpure);
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 50px;
}

.footer__contact {
  display: flex;
  align-items: center;
}

.icons-footer {
  color: var(--color-pink);
  font-size: var(--fontsize-title);
  text-align: center;
  padding: 5px;
}
.footer__text {
  color: var(--gray-functional);
  font-size: var(--fontsize-body);
}
