@import "tailwindcss";

:root {
    /* Light Mode Defaults */
    --primary-color: #0395d4;
    --primary-foreground-color: #ffffff;
    --secondary-color: #0395d4;
    --secondary-foreground-color: #ffffff;

    --background-color: #ffffff;
    --foreground-color: #0f172a;
}

.dark {
    /* Dark Mode Overrides */
    --primary-color: #0395d4;
    /* Lighter blue for dark mode */
    --secondary-color: #0395d4;
    /* Lighter purple */

    --background-color: #0f172a;
    /* Slate 900 */
    --foreground-color: #f8fafc;
    /* Slate 50 */
}

@theme {
    --color-primary: var(--primary-color);
    --color-primary-foreground: var(--primary-foreground-color);
    --color-secondary: var(--secondary-color);
    --color-secondary-foreground: var(--secondary-foreground-color);

    --color-background: var(--background-color);
    --color-foreground: var(--foreground-color);

    --background-image-brand-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    --background-image-brand-gradient-hover: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}