@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primary-foreground: #ffffff;
    --color-secondary: #9333ea;
    --color-secondary-foreground: #ffffff;

    --color-background: #ffffff;
    --color-foreground: #0f172a;

    --background-image-brand-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    --background-image-brand-gradient-hover: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

/* Dark mode preferences if we need them later */
@media (prefers-color-scheme: dark) {
    :root {
        /* Optional: Uncomment to support dark mode automagically
    --background: #0f172a;
    --foreground: #f8fafc; 
    */
    }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}